.hero__currency {    
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 20px;
    width: 100%;
    height: 420px; /* oldingi height: 400px ni o'chirib, auto qilib ko'rish */
    background: white;
    box-shadow: 0 0 8px 0 black;
}

.currency__header ul{
    list-style-type: none;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.currency__header ul li{
    padding: 20px 24px;
    text-align: center;
    background:rgb(240, 239, 239);
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    transition: all 0.5s;
}
.currency__header ul li i{
    width: 32px;
    font-size: 20px;
    color: grey;
}
.currency__header ul li:first-child{
    border-top-left-radius: 20px;
    background:white;
    color: rgb(29, 119, 216);
    font-weight: 600;
}
.currency__header ul li:first-child i{
    color: rgb(29, 119, 216);
}
.currency__header ul li:last-child{
    border-top-right-radius: 20px;
}
.currency__header ul li:hover{
    background:lightgray;
}
.currency__exchange{
    max-width: 92%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.currency__input{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 30%;
}
.currency__input label span{
    font-weight: 600;
    font-size: 18px; 
}
.currency__input label{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    font-size: 18px;
}
.currency__input input{
    outline: none;
    padding:12px;
    font-size: 18px;
}
.currency__input--Amount input{
    height: 56px;
    border-radius:5px;
    border:1px solid rgba(0, 0, 0, 0.3);
}
.currency__input select{
    outline: none;
    padding:12px;
    border-radius:8px;
    border: 1px solid black;
    box-shadow: 0 0 2px 0 black;
    font-size: 18px;
    /* appearance: none; */
    appearance: none;
    background-image: url('/src/assets/image/No_title.svg'); /* Add your custom icon */
    background-repeat: no-repeat;
    background-position: calc(100% - 16px);
    background-size: 16px 16px; /* Adjust icon size as needed */
    padding-right: 30px;
    cursor: pointer;
}
.currency__input select::after{
    content: '';
}
.currency--exchange{
    border:1px solid black;
    border-radius:50%;
    padding: 16px;
    cursor: pointer;
    transition: all 0.5s;
}
.currency--exchange:hover{
    background:lightgray;
}
.currency--exchange i{
    font-size: 20px;
    color: rgb(29, 119, 216);
}
.currency__priceChange{
    max-width: 92%;
    margin: 0 auto;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.currency__priceChange h5{
    font-size: 16px;
    color: rgb(92, 102, 123);
    font-weight: 600;
}
.currency__priceChange h1{
    width: 100%;
    font-size: 30px;
    color: black;
    font-weight: 600;
}
.currency__priceChange h1 span{
    color: rgb(161, 166, 176);
}
.currency__priceChange div{
    line-height: 1.7;
    font-size: 14px;
    color:rgb(92, 102, 123);
}